{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription!{% endblock %}

{% block body %}

    <div class="container">
        
        <h1>Hello Welcome here mr "" !</h1>
        
    </div>
        
{% endblock %}
