<h1>Confirmation de votre inscription</h1>

<p>Nous sommes heureux de vous compter parmis nos inscrits Mr  ! Bienvenue dans la famille de l'association des Barmen de France.</p>

<p>Mr René Delvincourt<br/>Président de l'ABF.</p>