{% block flash_messages %}
	{% for type, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class=" text-center alert alert-{{ type }} alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				{{ message | raw }}
			</div>
		{% endfor %}
	{% endfor %}
{% endblock %}