{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription!{% endblock %}

{% block body %}

    <div class="container">
        
        <h1>Formulaire d'inscription à l'Association des Barmen de France</h1>
            {{ form_start(form ) }}
            {{ form_errors(form) }}
                <div>
                    {{ form_label(form.username, "Nom :") }}
                    {{ form_errors(form.username) }}
                <div>
                    {{ form_widget(form.username) }}
                </div>
                </div>
                <div>
                    {{ form_label(form.userlastname, "Prénom :") }}
                    {{ form_errors(form.userlastname) }}
                <div>
                    {{ form_widget(form.userlastname) }}
                </div>
                </div>
                <div>
                    {{ form_label(form.userbirthdate, "Date d\'anniversaire :") }}
                    {{ form_errors(form.userbirthdate) }}
                <div>
                    {{ form_widget(form.userbirthdate) }}
                </div>
                </div>
                <div>
                    {{ form_label(form.useremail, "Email :") }}
                    {{ form_errors(form.useremail) }}
                <div>
                    {{ form_widget(form.useremail) }}
                </div>
                </div>
                <div>
                    {{ form_label(form.plainPassword) }}
                    {{ form_errors(form.plainPassword) }}
                <div>
                    {{ form_widget(form.plainPassword) }}
                </div>
                </div>
                <div>
                    {{ form_label(form.user_detail.user_gender) }}
                    {{ form_errors(form.user_detail.user_gender) }}
                <div>
                    {{ form_widget(form.user_detail.user_gender) }}
                </div>
                </div> <div>
                    {{ form_label(form.user_detail.user_place_of_birth) }}
                    {{ form_errors(form.user_detail.user_place_of_birth) }}
                <div>
                    {{ form_widget(form.user_detail.user_place_of_birth) }}
                </div>
                </div>
                <div>
                    {{ form_label(form.user_detail.user_adress) }}
                    {{ form_errors(form.user_detail.user_adress) }}
                <div>
                    {{ form_widget(form.user_detail.user_adress) }}
                </div>
                </div>
                <div>
                    {{ form_label(form.user_detail.user_zipcode) }}
                    {{ form_errors(form.user_detail.user_zipcode) }}
                <div>
                    {{ form_widget(form.user_detail.user_zipcode) }}
                </div>
                </div>
                <div>
                    {{ form_label(form.user_detail.user_region) }}
                    {{ form_errors(form.user_detail.user_region) }}
                <div>
                    {{ form_widget(form.user_detail.user_region) }}
                </div>
                </div>
                <div>
                    {{ form_label(form.user_detail.user_country) }}
                    {{ form_errors(form.user_detail.user_country) }}
                <div>
                    {{ form_widget(form.user_detail.user_country) }}
                </div>
                </div>
                <div>
                    {{ form_label(form.user_detail.user_phone) }}
                    {{ form_errors(form.user_detail.user_phone) }}
                <div>
                    {{ form_widget(form.user_detail.user_phone) }}
                </div>
                </div>
                <div>
                    {{ form_label(form.user_detail.user_mobile) }}
                    {{ form_errors(form.user_detail.user_mobile) }}
                <div>
                    {{ form_widget(form.user_detail.user_mobile) }}
                </div>
                </div>
                <div>
                    {{ form_label(form.accepter, "je déclare sur l’honneur que les informations ci-dessus sont exactes") }}
                    {{ form_widget(form.accepter) }}
                </div>
            <div>
            {{ form_rest(form) }}
            </div>
            {{ form_end(form) }}
    </div>
        
{% endblock %}
